.gridwrapper {
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
  background-color: #696969;
}

.card {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 70px;
  margin: 15px;
  text-align: center;
  overflow: hidden;
}

.container {
  width: 60%;
  margin: 0px auto 0px auto;
  border-color: white;
}

.col {
  background-color: #696969;
}

.img-wrapper {
  position: absolute;
  padding-top: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 30px;
  height: 30px;
}

h1.skill {
  top: 80%;
  transform: translateY(-50%);
  position: relative;
  display: inline-block;
  color: white;
  font-family: monospace;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

h2.header {
  text-align: center;
  background-color: #696969;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0px;
  padding-top: 42px;
  color: white;
  font-size: 54px;
  font-weight: 100;
}
@media (max-width: 812px) {
    h2.header {
      font-size: 36px;
    }
}
@media (max-width: 545px) {
  .container {
    width: 75%;
    margin: 0px auto 0px auto;
  }
}
