<nav class="navbar navbar-default navbar-fixed-top shadow">
    <div class="container">
          <ul>
              <li class="nav-item"><a href="#education">Education</a></li>
              <li class="nav-item"><a href="#experience">Experience</a></li>
              <li class="nav-item"><a href="#skills">Skills</a></li>
              <li class="nav-item"><a href="#contact">Contact</a></li>
          </ul>
    </div>
</nav>
<div class="main">
  <landing></landing>
  <education id="education"></education>
  <experience id="experience"></experience>
  <skills id="skills"></skills>
  <contact id="contact"></contact>
</div>
